<div class="container">
    <h1>Enter New Product</h1>
        <div clas="container">
            <%= form_with scope: :product, url: products_path, local: true do |form| %>
            <p>
                <%= form.label :title %><br>
                <%= form.text_field :title %>
            </p>
            <p>
                <%= form.label :subtitle %><br>
                <%= form.text_area :subtitle %>
            </p>
            <p>
                <%= form.label :description %><br>
                <%= form.text_area :description %>
            </p>
            <p>
                <%= form.submit %>
            </p>
            <% end %>
        </div>

</div>