<!DOCTYPE html>
<html>
  <head>
    <title>Awoloo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans" />
  </head>
  
  <body>
  <div class="navbar navbar-light bg-light navbar-expand-sm"  role="navigation">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="navbar-brand">
      <%= image_tag("awoolo_header_logo.png", :alt => "brandlogo", :class => "topnavlogo") %>
  </div>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">    
      <ul class="nav nav-pills flex-column flex-sm-row nav-justified">    
        <li class="nav-item dropdown">
          <a class="nav-link " data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">OFFICE SOLUTIONS</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">WORD PROCESSOR<p>Some text here</p></a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">PDF CONVERTER<p>Some text here</p></a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">ZIP FILE OPENER<p>Some text here</p></a>            
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link " data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">MEDIA</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">MEDIA PLAYER<p>Free multi-format media player</p></a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">RADIO APP<p>Listen free on your desktop</p></a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">VIDEO FILE CONVERTER<p>Convert video files to MP3, MP4 & more</p></a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link " data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">SUPPORT</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">FAQS<p>Some text here</p></a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">DOWNLOAD & INSTALL<p>Some text here</p></a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">CONTACT<p>Some text here</p></a>
          </div>
        </li>
      </ul>
      <form class="form-inline">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </div>
  
    <%= yield %>

  </body>
</html>
